section.draft {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	.peoples, .remaining, .chosen {
		width: 33.333%;
		padding: 0.5rem;
		h2 {
			width: 100%;
			text-align: center;
		}
		@include breakpoint(640px, max-width) {
			width: 100%;
		}
	}

	.peoples {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		.people {
			width: 100%;
			.person {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
				margin-bottom: 0.5rem;
				.name {
					width: calc(65% - 0.25rem);
				}
				.probability {
					width: calc(35% - 0.25rem);
				}
			}
		}
		button {
			margin-top: 4rem;
			width: calc(50% - 0.5rem);
		}
	}
	.buttons {
		margin-top: 2rem;
		width: 42%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.choose {
			width: 100%;
			margin-bottom: 0.5rem;
		}
		.reset {
			width: calc(35% - 0.25rem);
		}
		.example {
			width: calc(65% - 0.25rem);
		}
		@include breakpoint(640px, max-width) {
			padding: 1rem;
			width: 100%;
		}
	}

	.chosen, .remaining {
		table {
			width: 90%;
			margin: 0 auto;
			tr {
				width: 100%;
				border-top: 1px solid $light-grey;
				border-left: 1px solid $light-grey;
				border-right: 1px solid $light-grey;
				td {
					width: 65%;
					padding: 0.25rem;
					border-right: 1px solid $light-grey;
					&:last-child {
						width: 35%;
					}
				}
				&:last-child {
					border-bottom: 1px solid $light-grey;
				}
			}
		}
	}
	.remaining {
		background-color: $light-grey;
		table {
			tr {
				border-top: 1px solid $black;
				border-left: 1px solid $black;
				border-right: 1px solid $black;
				td {
					border-right: 1px solid $black;
					&:last-child {
						font-family: $ubuntu;
						text-align: right;
						strong {
							font-family: $rubik;
						}
					}
				}
				&:last-child {
					border-bottom: 1px solid $black;
				}
			}
		}
	}
}

div.template {
		display: none;
}

button {
	background-color: $purple;
	color: $black;
	font-weight: 700;
	text-transform: uppercase;
	border: 3px solid $black;
	padding: 1rem;
	transition: all 0.33s;
	&[disabled] {
		font-weight: 300;
		color: $black;
		background-color: $grey;
		border: 3px solid $black;
		&:hover {
			background-color: $grey;
		}
	}
	&:hover {
		background-color: $blue;
	}
}